.hero{
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-text{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.hero h1{
    font-size: 4rem;
    max-width: 40rem;
    line-height: 1.25;
    font-weight: 800;
}

.hero p{
    max-width: 40rem;
    font-size: 1.4rem;
}

.content-text button{
    width: fit-content;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    transition: opacity 0.5s ease-out;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    &:hover{
        opacity: 0.9;
    }
}

.img-container{
    display: block;
    width: 100%;
    max-width: 35rem;
}

.hero img{
    width: 100%;
}